*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

#header
{
    width: 100vw;
    height: 75px;
    box-shadow: 0 0 20px 0 black;
    background: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 28px;
}

.card
{
    width: 75vw;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 black;
    margin: 50px auto;
}

.link
{
    text-decoration: 0;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin: 0 10px;
}